- if postcode
  %h2
    Номер
    %strong= postcode
    не знайдено

  %p Вибач, ми не змогли знайти такого номера
  %p
    Якщо ти певен, що він існує, будь ласка,
    = mail_to Settings.contact_email, "напиши нам"
- else
  %h2 Відсутні результати пошуку
  %p
    Вибач, але ми не змогли знайти ні депутатів, ні політики, ні голосування за пошуковим запитом
    %strong “#{params[:query]}”.
  %p
    Радимо перевірити написання або ж спробувати більш загальні чи альтернативні терміни.


