- content_for :subject, "Змінити твій пароль?"

%tr
  %td.content-block
    #{@resource.name}, хтось запросив посилання для зміни твого паролю.
    Ти можеш змінити його, перейшовши за наступним посиланням.
%tr
  %td.content-block
    = link_to 'Змінити мій пароль', edit_password_url(@resource, reset_password_token: @token), class: "btn-primary"
%tr
  %td.content-block
    Якщо ти не надсилав цього запиту, будь ласка, проігноруй цього листа.
%tr
  %td.content-block
    Твій пароль не буде змінений, поки ти не перейдеш за посиланням і не створиш новий.
%tr
  %td.content-block
    &mdash; Команда
    %em= Settings.project_name

