%p
  Щоб вибрати голосування, які відносяться до політики,
  = link_to "шукай", search_path
  або
  = link_to "переглядай", divisions_path
  Голосування. На сторінці кожного Голосування  є опція «Чи це голосування належить до однієї з політик?», яка дозволяє
  підв’язати його до конкретної Політики. Якщо ти ще не редагував Політики, будь ласка, прочитай
  #{link_to "Що таке Політики та як це працює?", help_faq_path(anchor: "policies")}.